body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-title {
  margin: 20px;
  font-size: 24px;
}

/*LOADER*/

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #ebedee;
}

.header-container {
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 30px;
  cursor: pointer;
}
.search-bar {
  display: flex;
  width: 500px;
  border-radius: 5px;
  background-color: #f5f6f7;
  border: none;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  align-items: center;
}
.search-bar > input::placeholder {
  color: #bbb;
}

.search-icon path {
  color: #bbb;
}

.header-button {
  display: flex;
}
.header-button div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 28px;
  width: 117px;
  font-size: 12px;
  border: #09b1ba 1px solid;
  border-radius: 5px;
  color: #09b1ba;
  cursor: pointer;
}

.header-button .blue-button {
  background: #09b1ba;
  color: white;
  margin-left: 20px;
}

.header-button .logout-button {
  background: lightcoral;
  border: lightcoral 1px solid;
  color: white;
}

/*NAV*/

.nav-container {
  height: 40px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebedee;
}

.header-nav {
  width: 1280px;
  height: 100%;
  margin: 0 100px;
  display: flex;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  padding: 12px 16px;
  font-size: 13px;
  line-height: 16.3px;
  text-decoration: none;
  cursor: pointer;
}

.grey {
  text-decoration: none;
  color: #999999;
}

/*COVER IMAGE*/

.cover-section {
  height: 613px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-effect {
  position: absolute;
  width: 936px;
  height: 64px;
  bottom: 0;
  right: 0;
}

/*PROMO BOX COVER*/

.promo-container {
  position: absolute;
  height: 100%;
  width: 1280px;
  display: flex;
  align-items: center;
}

.promo-box {
  height: 258px;
  width: 400px;
  padding: 32px;
  background-color: white;
  border-radius: 5px;
}
.promo-box p {
  font-size: 34px;
  line-height: 42.5px;
  font-weight: 500;
}

.promo-box button {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 22px;
  height: 42px;
  background-color: #09b1ba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.promo-box > div {
  padding-top: 15px;
  font-size: 14px;
  line-height: 19px;
  color: #09b1ba;
  cursor: pointer;
}
.promo-box > div:hover {
  text-decoration: underline;
}

/*HOME OFFERS CARDS*/

.cards-container {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.cards {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  cursor: pointer;
}
.card-username {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.card-username > span {
  padding-left: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.card-image {
  height: 428px;
  width: 235px;
  object-fit: cover;
  cursor: pointer;
}

.card-info {
  padding: 10px 0;
}
.card-info > div:not(:first-child) {
  margin-top: 5px;
  color: #999;
  font-size: 11px;
  line-height: 10px;
}

/*SINGLE OFFER PAGE*/

.offer-section {
  height: 100%;
  display: flex;
  justify-content: center;
  background: #ebedee;
}

.offer-container {
  width: 1280px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 60px 0;
}

.offer-image {
  height: 605px;
  width: 380px;
  object-fit: cover;
}

.offer-info {
  height: 100%;
  width: 320px;
  padding: 40px;
  background-color: #fff;
}

.offer-info > div:nth-child(1) {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.offer-description {
  display: flex;
  height: 100px;
  padding: 4px 0;
}

.offer-description span {
  font-size: 13px;
  line-height: 12px;
  flex: 1;
}
.offer-description span:nth-child(1) {
  color: #999999;
}

.offer-description span:nth-child(2) {
  color: #666666;
  font-weight: 600;
}

.offer-info-bottom {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #999999;
}

.offer-info-bottom div:nth-child(1) {
  font-weight: 600;
  margin-bottom: 20px;
}

.offer-info-bottom div:nth-child(2) {
  color: #666666;
  margin-bottom: 20px;
}

.offer-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.offer-info-bottom div:nth-child(3) {
  display: flex;
  align-items: center;
}

.offer-info-bottom div:nth-child(3) span {
  margin-right: 10px;
}

.offer-info button {
  margin-top: 50px;
  width: 100%;
  height: 36px;
  background-color: #09b1ba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/*SIGNUP*/

.signin-container {
  height: 100%;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signin-form-container {
  width: 275px;
}
.signin-form-container input {
  width: 275px;
  height: 35px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
}

.signin-form-container input::placeholder {
  color: #bbb;
}
.checkbox {
  height: 35px;
  margin-top: 20px;
  display: flex;
  color: #666666;
}

.checkbox input {
  height: 26px;
  width: 26px;
  margin: 0 15px 0 10px;
  cursor: pointer;
}

.signin-form-container p:not(:last-child) {
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
  color: #999999;
  text-align: left;
}

.signup-error-message {
  color: firebrick;
}

.signin-form-container button {
  width: 100%;
  height: 45px;
  font-size: 16px;
  background: #2cb1ba;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}

.signin-form-container p {
  color: #2cb1ba;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
